<div class="section-wrapper">
    <section class="section about" id="학력">
<div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Education</h3>
              <!--고등학교-->
              <div class="resume-item">
                <h4>남대전 고등학교졸업</h4>
                <h5>2015 - 2018</h5>
              </div>
              <div class="resume-item">
                <h4>배재대학교 관광경영학과 휴학</h4>
                <h5>2018 - </h5>              
              </div>
            </div>
    </section>
</div>
