<div class="section-wrapper">
    <section class="section about" id="학력">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                사람들의 여행에 대한 꿈을 현실화 시켜주고 싶은 개발자준비생입니다.               </p>
            <p class="paragraph-text justify-text">
               2015 - 2018 남대전고등학교 졸업
            </p>
            <p class="paragraph-text justify-text">
             2018 -  배재대학교 관광경영학과 휴학            </p>
        </div>
    </section>
    <div class="section-wrapper">
    <section class="section about" id="대외활동">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                사람들의 여행에 대한 꿈을 현실화 시켜주고 싶은 개발자준비생입니다.               </p>
            <p class="paragraph-text justify-text">
               2015 - 2018 남대전고등학교 졸업
            </p>
            <p class="paragraph-text justify-text">
             2018 -  배재대학교 관광경영학과 휴학            </p>
        </div>
    </section>
</div>
