<!-- HTML 부분 -->
<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>

            <div class="projects-wrapper">
                <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
let projects_obj = [
    {
        image: 'assets/images/FestivalGuideProject.png',
        link: 'https://github.com/YoungGyu99/FestivalGuideProject',
        title: '축제길잡이',
        technologies: ['Java', 'Oracle', 'Spring', 'Apache Tomcat'],
        description: `
            기간: 2023.08.20. ~ 2023.09.27<br>        
            구성원: 1명<br>
            기능: 챗봇 ChatGpt API를 활용하여 미리 입력한 질문에 대해서 답변을 받을 수 있도록 구현하였습니다.<br>            
            설명: 축제의 관광객이 아닌 축제 관리자의 시점으로 축제 컨텐츠를 추천해주고 기획서 작성에 도움을 주기 위한 목적으로 제작된 축제길잡이<br>          
            성과: 축제 기획자들에 대한 인력 예산을 줄여 더욱 질 좋은 축제를 기획할 수 있게 도와주며 그 지역에 대해서 잘 모르더라도 어떤 축제를 개최하면 될지 예시를 제시해주어 축제 주제 선정에 있어 좀 더 쉽게 고를 수 있도록 도와줍니다
        `
    },
    {
        image: 'assets/images/FestivalBot.png',
        link: 'https://github.com/YoungGyu99/FestivalBotProject',
        title: '축제봇',
        technologies: ['Machine-Learning', 'Html', 'JavaScript'],
        description: `
            기간: 2023.10.20 ~ 2023.10.29<br>
            구성원: 1명<br>
            기능: 어떤 축제를 방문할지 모르는 관광객을 위해 원하는 축제 주제를 통한 축제 추천과 검색어 순위를 통해 어떤 내용을 많이 검색하는지 순위를 알려주는 축제봇<br>           
            설명: 어떤 축제를 방문할지 모르는 관광객을 위해 원하는 축제 주제를 통한 축제 추천과 검색어 순위를 통해 어떤 내용을 많이 검색하는지 순위를 알려주는 축제봇<br>            
            성과: 축제에 대해 잘 모르는 관광객이 축제봇의 추천을 받아 자신이 원하는 축제 주제에 대해서 추천 받을 수 있으며 다른 사람들이 어떤 축제를 검색하는지 검색어 순위를 통해 알 수 있어 요즘 어떤 주제를 사람들이 추구하는지 알 수 있게 해주었습니다.
        `
    },
    {
        image: 'assets/images/FestivalBot.png',
        link: 'https://github.com/YoungGyu99/FestivalBotProject',
        title: 'GTA (Green Tech Architecture)',
        technologies: ['Machine-Learning', 'Python', 'Jupter', 'TensorFlow', 'HTML', 'CSS', 'JS', 'Java', 'Oracle SQL Developer', 'SVN', 'Jenkins', 'Jira', 'GitHub', 'Apache Tomcat', 'Spring MVC', 'Ubuntu', 'Linux'],
        description: `
            기간: 2023.10.30 ~ 2023.12.24<br>
            구성원: 5명<br>
            기능: 어떤 축제를 방문할지 모르는 관광객을 위해 원하는 축제 주제를 통한 축제 추천과 검색어 순위를 통해 어떤 내용을 많이 검색하는지 순위를 알려주는 축제봇<br>           
            설명: 어떤 축제를 방문할지 모르는 관광객을 위해 원하는 축제 주제를 통한 축제 추천과 검색어 순위를 통해 어떤 내용을 많이 검색하는지 순위를 알려주는 축제봇<br>            
            성과: 각 층별로 제어가 가능해 한 번에 끄고 켜고 할 수 있으며 에어컨과 조명 에너지를 온도별, 태양의 위치별로 조절하여 에너지 절약을 통한 탄소 배출 절감에 기여를 할 수 있게 해주었습니다.
        `
    },
    // 다른 프로젝트 데이터도 필요에 따라 추가
];

let render_description = (description) => {
    let lines = description.split('\n');
    let result = '';

    for (let line of lines) {
        result += `<p>${line}</p>`;
    }

    return result;
};

let render_projects = () => {
    let projects_area = $('.projects-wrapper');
    projects_area.empty();  // 기존 내용 비우기

    projects_obj.forEach(project => {
        let projectHTML = project_mapper(project);
        projects_area.append(projectHTML);
    });
}

let project_mapper = project => {
    const maxTechPerLine = 5;  // 한 줄에 표시할 최대 기술 수
    let displayedTech = project.technologies.map(tech => {
        if (tech.length > maxTechDisplayLength) {
            return tech.substring(0, maxTechDisplayLength) + '...';
        }
        return tech;
    }).join(', ');

    return `
        <div class="wrapper">
            <div class="card radius shadowDepth1">
                ${project.image !== undefined && project.image !== '' ? 
                    `<div class="card__image border-tlr-radius">
                        <a href="${project.link}">
                            <img src="${project.image}" alt="image" id="project-image" class="border-tlr-radius">
                        </a>
                    </div>`           
                : ''}

                <div class="card__content card__padding">
                    <article class="card__article">
                        <h2 class="project-title"><a href="${project.link}">${project.title}</a></h2>
                        ${render_description(project.description)}
                    </article>

                    <div class="card__meta">
                        <span class="project-technology paragraph-text-normal">${displayedTech}</span>
                    </div>
                </div>
            </div>
        </div>
    `;
}

// 초기 렌더링
$(document).ready(() => {
    render_projects();
});
</script>
